@import "mixins";
@import "./variables.scss";

.testing {
  border-radius: 0.6rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
//   background: lightgreen;
  padding: 6rem 4rem;
  //   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //   background: $primary;

  @include mobile() {
    // padding: 6rem 4rem;
    font-size: 12px;
  }

  .icon-container {
    // width: 40px;
    // height: 40px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-bottom: 1rem;
    // border-radius: 20px;
  }

  h4 {
    font-weight: 300;
  }
}
