@import "mixins";
@import "./variables.scss";

.header-container {
  background-color: $main;
  width: 100%;
  padding: 1rem 2rem;
  color: $primary;

  @include mobile() {
    padding: 1rem;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 6rem;
      border-radius: 50%;
    }

    .icons {
        display: flex;

        .second {
            margin-left: 1rem;
        }
    }
  }

  .user {
    margin-top: 1rem;

    .welcome {
        font-weight: 300;
    }
  }
}
